---
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="bio | nabe's gallery">
  <div class="root-container">
    <Header current="/bio" />
    <div class="contents-container">
      <h1>bio</h1>
      <p>coming soon...</p>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .root-container {
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;

    .contents-container {
      padding: 40px;
    }
  }
</style>
